.titles-home {
  color: #e8f1f2;
  text-align: center;
  font-size: 3.125rem;
  margin-bottom: 2%;
}

.display-home {
  margin-right: 0%;
}

.homeLogo {
  background-image: url("./Img/home.jpg");
  width: 45.5rem;
  height: 27.875rem;
  margin-left: 2%;
  background-size: 45.5rem 27.875rem;
  background-repeat: no-repeat;
  background-position: center;
}

.home-description {
  width: 25rem;
  color: #e8f1f2;
  font-size: 1.563rem;
  padding-left: 2rem;
}

.home-align {
  display: flex;
  justify-content: center;
}
