.marsLogo {
  background-image: url("./Img/mars.jpg");
  width: 14.063rem;
  height: 14.063rem;
  margin-left: 2%;
}

.display-mars-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-bottom: 2%;
  background-color: black;
}

.titles-mars {
  color: #e8f1f2;
  text-align: center;
  font-size: 1.875rem;
}

.display-mars-photo {
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: black;
  padding-left: 2rem;
}

.mars-align {
  display: flex;
  justify-content: center;
}

.description-mars {
  color: #e8f1f2;
  font-size: 1.563rem;
  text-align: center;
  padding-left: 4rem;
  padding-right: 4rem;
}

.mars-photo-render {
  display: flex;
  justify-content: center;
}

.mars-buttons {
  margin-top: 1%;
  padding: 0.5rem;
  background-color: #b56576 !important;
  color: #e8f1f2 !important;
  border-radius: 20% !important;
}

.mars-buttons:hover {
  background-color: #c9c8e4 !important;
  color: black !important;
}

.mars-render {
  display: inline-block;
  border: 1px solid silver;
  margin: 4px;
}
