.trigonometry {
  background-image: url("./Img/s086730a.gif");
  width: 288px;
  height: 285px;
  margin: 0 auto;
}

.speed {
  background-image: url("./Img/speed.gif");
  width: 500px;
  height: 150px;
  margin: 0 auto;
}
